.drawTool-content-root,
.drawTool-content-root *{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.drawTool-content-root{
	position: relative;
}

.drawTool-content-root .drawTool-node{
	display: inline-block;
	position: absolute;

}
.drawTool-anchor{
	display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    border: solid 1px #4c3f3f;
    border-radius: 50%;
    cursor: pointer;
}
.drawTool-anchor:hover{
	border-color: red;
}

.drawTool-operate{
	position: absolute;
	left: 0px;
	top: 0px;
}
.drawTool-operate-delete{
	display: inline-block;
    line-height: 26px;
    font-size: 22px;
    width: 26px;
    height: 26px;
    background: #26b7d0;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.drawTool-operate-delete:hover{
	color: red;
}
.drawTool-show{
	display: block;
	z-index: 999999;
}
.drawTool-hide{
	display: none;
}
.drawTool-controller{
	/*position: absolute;*/
}
.drawTool-controller-li{
	display: inline-block;
    border: solid 1px red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    cursor: move;
    position: absolute;
    top: 0px;
    left: 0px;
}